body{
	
    	background-position:center;
    	background-size:cover;
	    background-attachment:fixed;
    	background-repeat:no-repeat;
   
}

h1{
    color:red;
    text-align: center;
    
}



.text{
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    width: 500px;
    height: 150px;
  
    
    
}
